html,
body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
body {
	background-color: #ffc000;
	font-family: Helvetica !important;
}
.navbarcustom {
	background-color: #ffc000;
}
.navbarcustom2 {
	background-color: white;
}
.bg-gray {
	background-color: rgb(240, 240, 240);
}

.underline {
	border-top: 1px black solid;
	margin-left: -120px;
	margin-right: -120px;
}
.fix-margin {
	margin-right: -0.1px;
}
.search {
	background-color: rgb(255, 255, 255);
	border: none;
	color: rgb(202, 202, 202);
	border-radius: 40px;
	height: 35px;
	min-width: 100px;
	outline: none;
}

.search2 {
	background-color: rgb(255, 255, 255);
	border: 1px black solid;
	color: rgb(202, 202, 202);
	border-radius: 40px;
	height: 35px;
	min-width: 100px;
	outline: none;
}

.separation-line {
	border-right: 1px rgb(141, 141, 141) solid;
	height: 20px;
}

.buttoncustom {
	color: #ffc000;
	background-color: white;
	border: none;
	border-radius: 45px;
	height: 35px;
	width: 80px;
	transition: 0.2s;
}

.buttoncustom:hover {
	background-color: rgb(243, 243, 243);
	color: #f3b600;
}

.buttoncustom3 {
	color: white;
	background-color: #ffc000;
	border: none;
	border-radius: 45px;
	height: 35px;
	width: 80px;
	transition: 0.2s;
}

.buttoncustom3:hover {
	background-color: #f3b600;
	color: rgb(243, 243, 243);
}

a.customlink {
	font-size: 1.5em;
	transition: 0.2s;
	padding: 2px;
	text-decoration: none;
}

a.customlink2 {
	font-size: 1.5em;
	transition: 0.2s;
	padding: 2px;
	text-decoration: none;
}

a.customlink2:hover {
	color: #ffc000 !important;
}

a.customlink1 {
	background-image: url(Manga-LIVE.png);
	width: 392.805px;
	height: 62.2692px;
	object-fit: cover;
	background-size: cover;
}

a.customlink4 {
	background-image: url(Manga-LIVE2.png);
	width: 392.805px;
	height: 62.2692px;
	object-fit: cover;
	background-size: cover;
}
a.customlink:hover {
	color: black !important;
}

.images-hero {
	width: 40%;
}

.herocustom {
	background-color: white;
	margin-left: -10px;
	margin-right: -10px;
	background: url(Herobg.png) no-repeat 50% 0;
	background-size: cover;
	object-fit: contain;
}

.h1-text {
	color: #f3b600;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 64px;
	font-weight: 800;
}

.h1-text-white {
	color: white !important;
}

.buttoncustom2 {
	color: white;
	width: 170px;
	height: 70px;
	background-color: #f3b600;
	border: 0px;
	border-radius: 50px;
	font-size: 1.4em;
	font-weight: 700;
	transition: 0.2s;
}

.buttoncustom2:hover {
	background-color: #e0a800;
	color: rgb(226, 226, 226);
}

.custom-select {
	width: 150px;
	background-color: rgb(255, 255, 255);
	border: none;
	color: rgb(202, 202, 202);
	padding: 1px 30px;
	text-align: center;
	border-radius: 40px;
}

.border {
	border: 1px;
}

.box-sections {
	min-height: 700px;
}

.divider {
	height: 75px;
	width: 100%;
	background-color: white;
}
.customlink3 {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	transition: 0.2s;
	padding: 2px;
}

a.customlink3:hover {
	color: black !important;
}

.top-header {
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	transition: 0.2s;
	padding: 2px;
}

.font {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
