body {
	background-color: #ffc000;
	font-family: Helvetica !important;
}
.navbarcustom {
	background-color: #ffc000;
}

.search {
	background-color: rgb(255, 255, 255);
	border: none;
	color: rgb(202, 202, 202);
	border-radius: 40px;
	height: 35px;
	min-width: 100px;
	outline: none;
}

.separation-line {
	border-right: 1px rgb(190, 190, 190) solid;
	height: 20px;
}

.buttoncustom {
	color: #ffc000;
	background-color: white;
	border: none;
	border-radius: 45px;
	height: 35px;
	width: 80px;
	transition: 0.2s;
}

.buttoncustom:hover {
	background-color: rgb(243, 243, 243);
	color: #f3b600;
}

a.customlink {
	font-size: 1.5em;
	transition: 0.2s;
	padding: 2px;
}
a.customlink:hover {
	color: black !important;
}

.images-hero {
	min-width: 500px;
	max-width: 500px;
}

.herocustom {
	background-color: white;
	margin-left: -10px;
	margin-right: -10px;
	background: url(Herobg.png) no-repeat 50% 0;
	background-size: cover;
}

.img-responsive {
	display: block !important;
	max-width: 500px !important;
	height: auto !important;
}
